# Ignore .env file
.env

# Ignore node_modules directory
node_modules/

# Ignore vendor directory (Composer dependencies)
vendor/

# Ignore log files
*.log

# Ignore temporary files
tmp/

# Ignore IDE specific files
.vscode/
.idea/