@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Gloock&family=Inter:wght@200;300;400;500;600;700;800&family=Lobster&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,800;1,900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;800&display=swap");

:root {
  --main-color: #4834d4;
  --red: #e74c3c;
  --orange: #f39c12;
  --black: #34495e;
  --white: #fff;
  --light-bg: #f5f5f5;
  --light-color: #999;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

*::selection {
  color: var(--white);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light-bg);
  /* padding-bottom: 7rem; */
  padding-left: 35rem;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.btn,
.delete-btn,
.option-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
  padding: 1.2rem 3rem;
  text-transform: capitalize;
  text-align: center;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  display: inline-block;
  margin-right: 1rem;
}

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
}

.inline-btn,
.btn {
  background-color: var(--main-color);
}

.inline-delete-btn,
.delete-btn {
  background-color: var(--red);
}

.inline-option-btn,
.option-btn {
  background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover,
.inline-btn:hover,
.inline-delete-btn:hover,
.inline-option-btn:hover {
  background-color: var(--black);
}

.flex-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  border-bottom: var(--border);
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  color: var(--red);
  cursor: pointer;
}

.message i:hover {
  color: var(--black);
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: var(--black);
  font-size: 3rem;
}

.empty {
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--red);
  box-shadow: var(--box-shadow);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form-container .admin_login_bg {
  position: relative;
}
.form-container form {
  /* position: absolute; */
  background-color: var(--white);
  border-radius: 0.5rem;
  /* border: var(--border); */
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  width: 50rem;
}

.form-container form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.form-container form label span {
  font-size: 1.7rem;
}

.form-container form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.form-container form p {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--light-color);
}

.form-container form p span {
  color: var(--main-color);
}

.form-container form .box {
  width: 100%;
  background-color: var(--light-bg);
  padding: 1.4rem;
  font-size: 1.4rem;
  color: var(--black);
  margin: 1rem 0;
  border: var(--border);
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s linear;
  background-color: var(--white);
  z-index: 1000;
  border-right: var(--border);
  width: 35rem;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  overflow-y: scroll;
}
.header.active {
  left: -35rem;
  /* box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7); */
  border-right: none;
}
.dashboard.full {
  width: 100%;
}
.header .header_top {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  /* border: var(--border); */
  transition: transform 0.4s ease-in-out;
  box-shadow: var(--box-shadow);
}
body.padding-left-35rem {
  padding-left: 0;
}
.header .logo {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
}

.header .logo span {
  color:black;
  font-weight: normal;
}

.header .profile {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--light-bg);
  margin: 1rem 0;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .profile a {
  font-size: 1.6rem;
  color: var(--black);
}

/* .header .profile p {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--black);
} */

.header .navbar {
  padding: 1rem 0;
  overflow-y: scroll;
  /* max-height: 45vh; */
  margin-top: 12rem;
}

.header .navbar a {
  display: block;
  padding: 2rem 1.5rem;
  font-size: 2rem;
  color: var(--black);
  text-align: left;
  transition: all 2s;
  border-radius: 4px;
  margin-right: 1rem;
}
.header .navbar a.active {
  color: white;
  background-color: var(--main-color);
}
.header .navbar a.active i {
  color: white;
  background-color: var(--main-color);
}

.header .navbar a i {
  margin-right: 1.5rem;
  color: var(--main-color);
  transition: 0.2s linear;
}

.header .navbar a:hover i {
  margin-right: 3rem;
}

#menu-btn {
  display: block;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  box-shadow: var(--border);
  height: 4.5rem;
  line-height: 4.3rem;
  width: 4.5rem;
  font-size: 2rem;
  position: sticky;
  top: 12rem;
  left: 1.9rem;
  /* z-index: 10000; */
  text-align: center;
}

#menu-btn:hover {
  background-color: var(--black);
  color: var(--white);
}
.dashboard {
  margin-top: 5rem;
  transition: left 0.3s ease, width 0.3s ease;
}
.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

.dashboard .box-container .box {
  text-align: center;
  background-color: var(--white);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.5rem;
}

.dashboard .box-container .box h3 {
  font-size: 2.7rem;
  color: var(--black);
}

.dashboard .box-container .box h3 span {
  font-size: 2rem;
}

.dashboard .box-container .box p {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  border: var(--border);
  margin: 1rem 0;
  color: var(--light-color);
}
.post-editor{
  margin-top: 5rem;
}
.post-editor.add-post {
  width: 100%;
}
.post-editor form {
  background-color: var(--white);
  border-radius: 0.5rem;
  border: var(--border);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  min-height: 80vh;
}

.post-editor form p {
  font-size: 1.8rem;
  color: var(--light-color);
  padding-top: 1rem;
}

.post-editor form p span {
  color: var(--red);
}

.post-editor form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light-bg);
}

.post-editor form textarea {
  min-height: 40rem;
  resize: none;
}

.ck.ck-editor__main > .ck-editor__editable {
  min-height: 150px;
}

.post-editor form .image {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  margin: 1rem 0;
}

.show-posts {
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
}
.show-posts .box-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 33rem); */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
table {
  border-collapse: collapse;
  border: var(--border);
  margin: 0 0 2rem 0;
}

th {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--white);
}
td {
  font-size: 1.3rem;
}
th,
td {
  border: var(--border);
  padding: 1rem 1rem;
  text-align: center;
}

td .option-btn,
td .btn {
  /* width: 15rem; */
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.show-posts .box-container .box {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
  overflow: hidden;
  width: 100%;
}

.show-posts .box-container .box .image {
  height: 20rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.show-posts .box-container .image {
  width: 100px;
}

.show-posts .box-container .box .status {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  display: inline-block;
  margin-bottom: 1rem;
}

.show-posts .box-container .box .title {
  font-size: 2rem;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem 0;
  min-width: 100%;
}

.show-posts .box-container .box .posts-content {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.5;
  padding: 1rem 0;
}

.show-posts .box-container .box .posts-content::after {
  content: "...";
}

.show-posts .box-container .box .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  border: var(--border);
  margin: 0.5rem 0;
}

.show-posts .box-container .box .icons div {
  font-size: 1.8rem;
}

.show-posts .box-container .box .icons div span {
  color: var(--main-color);
}

.show-posts .box-container .box .icons div i {
  color: var(--light-color);
  margin-right: 0.5rem;
}

.accounts{
  margin-top: 5rem;
}
.accounts .box-container {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, 33rem); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.accounts .box-container .box {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 0.5rem 1rem;
  text-align: center;
}
.accounts .box-container .box {
  display: flex;
  align-items: center;
  margin: 0 5rem;
  gap: 2rem;
  width: auto;
  justify-content: space-around;
}
.accounts .box-container .box p {
  color: red;
}
.accounts .box-container .box .option-btn {
  width: auto;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}
table {
  width: 100%;
}
th,
tr {
  text-align: center;
}
thead th p{
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}
.banned_check{
  width: 30px;
  height: 30px;
}

.accounts .box-container .box p {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1.5;
}

.accounts .box-container .box p span {
  color: var(--main-color);
}
.accounts .box-container .flex-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
}
.accounts .box-container .flex-btn .option-btn {
  font-size: 1.1rem;
  width: 100%;
}
.accounts .box-container .flex-btn .delete-btn {
  font-size: 1.1rem;
  width: 100%;
}

.read-post {
  margin-top: 5rem;
}
.read-post form {
  border-radius: 0.5rem;
  border: var(--border);
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.read-post form .status {
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  color: var(--white);
  display: inline-block;
}

.read-post form .image {
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.read-post form .title {
  color: var(--black);
  font-size: 2rem;
  margin-top: 1.5rem;
}

.read-post form .content {
  line-height: 1.5;
  font-size: 1.8rem;
  color: var(--light-color);
  padding: 1rem 0;
  white-space: pre-line;
}

.read-post form .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: var(--border);
  background-color: var(--light-bg);
  padding: 1.5rem 2rem;
  margin: 1rem 0;
}

.read-post form .icons div {
  font-size: 1.8rem;
}

.read-post form .icons span {
  color: var(--main-color);
}

.read-post form .icons i {
  color: var(--light-color);
  margin-right: 0.5rem;
}
.read-post .flex-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
}

.comments{
  margin-top : 5rem;
}
.comments .comment-title {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: var(--black);
  padding: 2rem;
  color: var(--white);
  font-size: 2rem;
}

.comments .box-container {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

.comments .box-container .box {
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: var(--border);
}

.comments .box-container .post-title {
  font-size: 2rem;
  color: var(--light-color);
}

.comments .box-container .post-title span {
  color: var(--black);
}

.comments .box-container .post-title a {
  color: var(--main-color);
  margin-left: 0.5rem;
}

.comments .box-container .post-title a:hover {
  color: var(--black);
  text-decoration: underline;
}

.comments .box-container .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.comments .box-container .box .user i {
  font-size: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
  height: 4.5rem;
  width: 5rem;
  line-height: 4.1rem;
  background-color: var(--white);
  text-align: center;
  color: var(--light-color);
}

.comments .box-container .box .user .user-info span {
  font-size: 2rem;
  color: var(--main-color);
}

.comments .box-container .box .user .user-info div {
  color: var(--light-color);
  font-size: 1.6rem;
  margin-top: 0.2rem;
}

.comments .box-container .box .text {
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1.5;
  white-space: pre-line;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 0.5rem 0;
  border: var(--border);
}

.category_edit {
  position: relative;
  z-index: 999;
  margin-top: 5rem;
}
.manage_cart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: none; */
  align-items: center;
  gap: 1.2rem;

  /* background-color: red; */
}
.delete_btn {
  /* width: 30%; */
  background-color: red;
  padding: 1rem 2rem;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
}
.edit_btn {
  background-color: orange;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: white;
  /* width: 70%; */
}
.add_tag_btn {
  padding: 2rem 5rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  margin: 2rem 1rem;

  background-color: red;
}
.add_cart,
.edit_cart {
  background-color: green;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: flex-start;
  width: 40%;
  height: auto;
  border: var(--border);
  border-radius: 7px;

  display: none;
}
.add_cart.showTag {
  display: block;
}
.edit_cart.showTag {
  display: block;
}
.add_cart .modal,
.edit_cart .modal_edit {
  width: 100%;
}

.modal_content .modal_title h3 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
}
.modal_content .modal_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal_details span {
  color: var(--white);
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
}
.modal_details input {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  margin: 1rem 0 2rem 0;
}
.modal_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal_footer button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.setting {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  margin-top: 5rem;
}

.setting .banner_edit_form {
  border: black 1px solid;
  width: 100%;
  padding: 3rem 1.7rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
}
.setting .footer_edit_form {
  border: black 1px solid;
  width: 100%;
  padding: 3rem 1.7rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
.setting .title_banner {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -50%);
  padding: 1.2rem 1.7rem;
  border-radius: 3px;
  background-color: var(--light-bg);
  color: black;
  font-size: 1.3rem;
}
.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 2rem;
}
.image-container .banner_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-container .banner_img .banner_img_infor span {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.image-container .banner_img .show_img,
.lienhe_image .show_img {
  width: 100px;
  height: auto;
  object-fit: cover;
}
.btn_handle {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.btn_handle .reset_btn {
  padding: 1rem 2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
}
.btn_handle .submit_btn {
  padding: 1rem 4rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
}
.detail_handle {
  width: 100%;
  height: auto;
  border: black 1px solid;
}
.detail_handle .btn_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: calc(100% / 3);
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 30px 20px;
  height: auto;
}

#gioithieu,
#lienhe,
#thongtin {
  background-color: var(--light-bg);
}
.detail_gioithieu {
  position: relative;
  border: black 1px solid;
  padding: 20px 18px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.detail_socials {
  position: relative;
  margin-top: 30px;
  border: black 1px solid;
  padding: 25px;
}
.detail_gioithieu h3,
.detail_socials h3,
.logo_edit h3,
.license_edit h3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -50%);
  padding: 1rem 1.7rem;
  border-radius: 3px;
  background-color: var(--light-bg);
  color: black;
  font-size: 1.3rem;
}
.detail_gioithieu .detail_gioithieu_tieude,
.detail_gioithieu_slogan,
.lienhe_tieude {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  margin-bottom: 1.3rem;
}

.detail_gioithieu_tieude h4,
.detail_gioithieu_slogan h4,
.lienhe_image h4,
.lienhe_tieude h4,
.lienhe_noidung h4 {
  /* width: 5%; */
  text-wrap: nowrap;
  font-size: 1.3rem;
}
.sperator {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin: 2rem 0rem;
}
.detail_gioithieu_noidung h4 {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.detail_gioithieu_tieude input,
.detail_gioithieu_slogan input,
.detail_gioithieu_noidung input,
.lienhe_tieude input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 3px;
}
.detail_gioithieu_tieude input:focus {
  border: var(--main-color) 2px solid;
}
textarea {
  background-color: white;
  color: black;
  border: black 1px solid;
  min-width: 100%;
  padding: 14px 12px;
  min-height: 60px;
}
label,
.lienhe_noidung {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  margin-bottom: 1.7rem;
}
label .top {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}
label .top i {
  font-size: 2rem;
  color: var(--main-color);
}
label input {
  width: 100%;
  padding: 10px;
}
label input:focus {
  border: var(--main-color) 2px solid;
  border-radius: 3px;
}
.lienhe_image {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem 0;
}
.add_social,
.add_tieude_noidung {
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 3px;
}
.bottom {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_edit,
.license_edit {
  position: relative;
  margin-top: 3rem;
  border: black 1px solid;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.detail_logo_edit,
.detail_license_edit {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.detail_logo_edit img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}
.detail_logo_edit h4,
.detail_license_edit h4 {
  font-size: 1.3rem;
  text-wrap: nowrap;
}
.detail_license_edit input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 3px;
}
.detail_license_edit input:focus {
  border: var(--main-color) 2px solid;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  body {
    padding-left: 0;
  }
  body.padding-left-35rem {
    padding-left: 35rem;
  }

  #menu-btn {
    display: block;
  }

  .header {
    left: -35rem;
    transition: 0.2s linear;
  }

  .header.active {
    left: 0rem;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    border-right: none;
  }

  .header.active {
    left: 0rem;
    /* box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7); */
    border-right: none;
  }
  .dashboard.full {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }

  .heading {
    font-size: 3rem;
  }

  .show-posts .box-container {
    grid-template-columns: 1fr;
  }

  .accounts .box-container {
    grid-template-columns: 1fr;
  }
}
