@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Gloock&family=Inter:wght@200;300;400;500;600;700;800&family=Lobster&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,800;1,900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;800&display=swap");

:root {
  --main-color: #00bed8;
  --red: #e74c3c;
  --green: #03ac13;
  --orange: #f39c12;
  --black: #34495e;
  --white: #fff;
  --gray: #c8c6c629;
  --light-bg: #f5f5f5;
  --light-color: #999;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

/* scroll bar*/
::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #337ab7;
  border-radius: 10px;
}
/*--------------------------------*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: var(--light-bg);
}

section {
  /* padding: 2rem; */
  margin: 0 auto;
  max-width: 100%;
}

.btn,
.delete-btn,
.option-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
  padding: 1.2rem 3rem;
  text-transform: capitalize;
  text-align: center;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  display: inline-block;
  margin-right: 1rem;
}

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
}

.inline-btn,
.btn {
  background-color: var(--main-color);
}

.inline-delete-btn,
.delete-btn {
  background-color: var(--red);
}

.inline-option-btn,
.option-btn {
  background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover,
.inline-btn:hover,
.inline-delete-btn:hover,
.inline-option-btn:hover {
  background-color: var(--black);
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  color: var(--red);
  cursor: pointer;
}

.message i:hover {
  color: var(--black);
}

.empty {
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--red);
  box-shadow: var(--box-shadow);
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.header {
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border: none;
  background: var(--white);
  padding: 2rem;
}

.header .flex {
  display: flex;
  align-items: center;
  /* gap:1.5rem; */
  justify-content: space-between;
  position: relative;
  /* padding:1.5rem 2rem; */
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
}

.header .flex .search-form {
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  background-color: var(--gray);
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  width: 75rem;
}

.header .flex .search-form input::placeholder {
  font-size: 1.5rem;
  color: gray;
}

.header .flex .search-form .box {
  width: 100%;
  background: none;
  font-size: 1.7rem;
  color: var(--black);
}

.header .flex .search-form .fa-search {
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
  background: none;
}

.header .flex .icons div {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  width: 4.7rem;
  line-height: 4rem;
  border: var(--border);
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.header .flex .icons div:hover {
  background-color: var(--black);
  color: var(--white);
}

.header .flex .navbar {
  position: absolute;
  top: 125%;
  right: 1.5rem;
  border: var(--border);
  background-color: var(--white);
  border-radius: 0.5rem;
  width: 20rem;
  box-shadow: var(--border);
  display: none;
  animation: 0.2s linear fadeIn;
}

.header .flex .navbar.active {
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

.header .flex .navbar a {
  display: block;
  margin: 2rem;
  font-size: 1.5rem;
  color: var(--black);
}

.header .flex .navbar a i {
  margin-right: 1rem;
  color: var(--main-color);
  transition: 0.2s linear;
}

.header .flex .navbar a:hover i {
  margin-right: 2rem;
}

.header .flex .profile {
  position: absolute;
  top: 125%;
  right: 2rem;
  border: var(--border);
  background-color: var(--white);
  border-radius: 0.5rem;
  width: 30rem;
  box-shadow: var(--border);
  display: none;
  padding: 1.5rem;
  animation: 0.2s linear fadeIn;
  text-align: center;
  overflow: hidden;
}

.header .flex .profile p {
  padding-bottom: 0.7rem;
  font-size: 1.8rem;
  color: var(--light-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .flex .profile.active {
  display: inline-block;
}

#search-btn {
  display: none;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 16rem);
}
.form-container .login_bg,
.form-container .register_bg,
.form-container .update_bg {
  position: relative;
  width: 100%;
  min-height: 80vh;
}
.form-container .login_bg img,
.form-container .register_bg img,
.form-container .update_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.form-container form {
  position: absolute;
  top: 20%;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem 3rem;
  text-align: center;
  width: 50rem;
}
.form-container form label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: flex-start;
}
.form-container form label span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
}

.form-container form h3 {
  font-size: 3rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.form-container form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: var(--light-color);
}

.form-container form p a {
  color: var(--orange);
}

.form-container form p a:hover {
  text-decoration: underline;
  color: var(--black);
}

.form-container form .box {
  width: 100%;
  background-color: var(--light-bg);
  padding: 1.4rem;
  font-size: 1.4rem;
  color: var(--black);
  margin: 1rem 0;
  border: var(--border);
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

/* banner */
.banner-container {
  position: relative;
  width: 100%;
  height: 100px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.swiper-container .swiper-button-next,
.swiper-button-prev {
  background: red !important;
  position: relative;
  color: green !important;
}
.banner_content {
}
.caption {
  /* position: absolute; */
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.caption h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: red;
}

.caption .btn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.home-grid .box-container {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr)); */
  /* gap: 1.5rem;  */
  align-items: flex-start;
}

.home-grid .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background-color: var(--white);
  /* padding: 2rem; */
  overflow: hidden;
  display: none;
}

.home-grid .box-container .box p {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-grid .box-container .box p span {
  color: var(--main-color);
}

.home-grid .box-container .box .flex-box {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1rem; */
  /* padding-top: 1rem; */
}

.home-grid .box-container .box .flex-box .links {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 2rem;
  color: var(--black);
  border: var(--border);
}

.home-grid .box-container .box .flex-box .links:hover {
  background-color: var(--black);
  color: var(--white);
}

/*introduce*/
.introduce {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5rem;
  margin: 0rem 0 3rem 0;
  background-color: var(--gray);
}
.introduce .main_title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
}
.introduce .main_title h1 {
  font-size: 3rem;
  font-weight: 200;
}
.introduce .main_title span {
  text-align: right;
  font-weight: 500;
  font-size: 3.1rem;
}
.introduce .sperator {
  width: 1px;
  height: 300px;
  background-color: black;
  margin: 0 30px;
}
.introduce .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}
.introduce .content p {
  font-size: 1.6rem;
}
.introduce .content p span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

/*main post in home*/
.main_post-container {
  margin: 5rem 10rem;
}
.main_post-container .box {
  display: flex;
  padding: 2rem 0;
  gap: 2rem;
}
.main_post-container .box .box_left {
  width: 50%;
}
.main_post-container .box .box_left img {
  max-width: 90%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  padding: 0 2rem;
}
.main_post-container .box .box_left .post-admin {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 1.5rem;
}
.main_post-container .box .post-admin i {
  border: var(--border);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_post-container .box .box_right {
  width: 50%;
  padding-top: 5rem;
}
.main_post-container .box .box_right .post-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.main_post-container .box .box_right .post-content {
  font-size: 2rem;
  font-weight: normal;
}

/*post */
.posts-container {
  background: var(--gray);
  padding: 5rem 8rem;
  /* width: 100%; */
  /* margin: 0 6rem; */
  position: relative;
}
.posts-container .box-container {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  transition: all 2s ease;
}

.posts-container .view_all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.posts-container .box-container .box {
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 2rem;
  overflow: hidden;
  width: calc(25% - 40px);
  max-height: 500px;
  margin: 20px 20px;
  flex: 0 0 auto;
}
.btn_post {
  position: absolute;
  width: calc(100% - 12rem);
  display: flex;
  justify-content: space-between;
  top: 50%;
  z-index: 99;
}
.prev,
.next {
  background-color: red;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 10px;
  border:var(--border);
}

.posts-container .box-container .box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.posts-container .box-container .box .post-admin {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.posts-container .box-container .box .post-admin i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  border: var(--border);
  border-radius: 50%;
  background-color: var(--light-bg);
  color: var(--black);
}

.posts-container .box-container .box .post-admin a {
  font-size: 1.6rem;
  color: var(--main-color);
}

.posts-container .box-container .box .post-admin a:hover {
  color: var(--black);
}

.posts-container .box-container .box .post-admin div {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  color: var(--light-color);
}

.posts-container .box-container .box .post-image {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.2rem;
}

.posts-container .box-container .box .post-title {
  font-size: 2rem;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* margin-bottom: 1rem; */
}

.posts-container .box-container .box .post-content {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: var(--light-color);
  white-space: pre-line;
}

.posts-container .box-container .box .post-content::after {
  content: "...";
}

.inline-btn {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.posts-container .box-container .box .post-cat {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.7rem;
}

.posts-container .box-container .box .post-cat i {
  margin-right: 0.5rem;
  color: var(--light-color);
}

.posts-container .box-container .box .post-cat {
  color: var(--main-color);
}

.posts-container .box-container .box .post-cat:hover {
  color: var(--black);
}

.posts-container .box-container .view_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 90%;
  max-height: 100% !important;
  overflow-y: scroll;
  margin-top: 3rem;
}
.posts-container .box-container .view_box img {
  min-width: 70vh;
  height: 70vh !important;
  object-fit: contain !important;
}

.posts-container .box-container .box .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  margin-top: 2rem;
}

.posts-container .box-container .box .icons button {
  cursor: pointer;
}

.posts-container .box-container .box .icons i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: var(--light-color);
}

.posts-container .box-container .box .icons span {
  font-size: 1.5rem;
  color: var(--main-color);
}

.posts-container .box-container .box .icons *:hover {
  color: var(--black);
}

.comments-container {
  margin: 2rem 6rem;
}
.comments-container .comment-title {
  background-color: var(--black);
  color: var(--white);
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.comments-container .add-comment {
  border: var(--border);
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--white);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.comments-container .add-comment p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}

.comments-container .add-comment p i {
  margin-right: 1rem;
}

.comments-container .add-comment p a {
  color: var(--main-color);
}

.comments-container .add-comment p a:hover {
  text-decoration: underline;
  color: var(--black);
}

.comments-container .add-comment textarea {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  border: var(--border);
  font-size: 1.5rem;
  color: var(--black);
  height: 15rem;
  resize: none;
}

.comments-container .user-comments-container {
  display: grid;
  gap: 2.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--white);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.comments-container .user-comments-container .show-comments .post-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
}

.comments-container .user-comments-container .show-comments .post-title span {
  color: var(--black);
  line-height: 1.5;
}

.comments-container .user-comments-container .show-comments .post-title a {
  color: var(--main-color);
}

.comments-container
  .user-comments-container
  .show-comments
  .post-title
  a:hover {
  text-decoration: underline;
}

.comments-container .user-comments-container .show-comments .comment-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.comments-container .user-comments-container .show-comments .comment-user i {
  text-align: center;
  height: 5rem;
  width: 5rem;
  line-height: 4.7rem;
  font-size: 2rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  color: var(--black);
}

.comments-container .user-comments-container .show-comments .comment-user span {
  font-size: 2rem;
  color: var(--main-color);
}

.comments-container .user-comments-container .show-comments .comment-user div {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  color: var(--light-color);
}

.comments-container .user-comments-container .show-comments .comment-text {
  line-height: 1.5;
  font-size: 1.7rem;
  color: var(--light-color);
}

.comments-container .user-comments-container .show-comments .comment-box {
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.5rem 2rem;
  font-size: 2rem;
  color: var(--black);
  width: 100%;
  white-space: pre-line;
  line-height: 1.5;
  border: var(--border);
}

.comments-container .user-comments-container .show-comments textarea {
  resize: none;
  border: var(--border);
}

.comment-edit-form {
  padding-bottom: 0;
}

.comment-edit-form p {
  background-color: var(--black);
  color: var(--white);
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.comment-edit-form form {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: var(--border);
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.comment-edit-form form textarea {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.5;
  height: 15rem;
  width: 100%;
  resize: none;
  background-color: var(--light-bg);
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.authors {
  margin: 2rem 6rem 15rem 6rem;
}
.authors .box-container {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.authors .box-container .box {
  width: 300px;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.authors .box-container .box p {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
}

.authors .box-container .box p span {
  color: var(--main-color);
}
.categories {
  margin: 1rem 10rem;
}
.categories .box-container {
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1rem 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.categories .box-container .box {
  padding: 1rem 0;
  font-size: 2rem;
}

.categories .box-container .box span {
  color: var(--light-color);
  display: inline-block;
  padding: 0.7rem 1rem;
  border: var(--border);
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  text-align: center;
}

.categories .box-container .box a {
  margin-left: 1.2rem;
  color: var(--black);
}

.categories .box-container .box a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/*contact*/
.contact {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 7.5rem 6rem 7.5rem 6rem;
}
.contact .contact_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}
.contact .contact_left img {
  display: flex;
  align-items: flex-end;
  width: 400px;
  height: 400px;
  object-fit: cover;
  box-shadow: var(--main-color) -15px 15px;
}
.contact .contact_right {
  width: 50%;
  gap: 1rem;
  padding: 0 5rem 0 3rem;
  border-left: 1px solid black;
}
.contact .contact_right .contact_right-top h1,
.contact .contact_right .contact_right-bottom h1 {
  font-size: 3rem;
  margin: 0 0 20px 0;
}
.contact .contact_right .contact_right-top p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.contact .contact_right .contact_right-bottom .book_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact .contact_right .contact_right-bottom .book_box input {
  border: var(--border);
  padding: 1rem 2rem;
  outline: none;
}
.contact .contact_right .contact_right-bottom .book_box textarea {
  outline: none;
  border: var(--border);
  padding: 2rem;
}
.contact .contact_right .contact_right-bottom .book_box button {
  color: var(--white);
  background-color: var(--black);
  border: none;
  outline: none;
  padding: 1rem 2rem;
}
/*map*/
.map {
  height: 400px;
  margin: 10rem 6rem;
  display: flex;
  align-items: center;
  flex-direction: space-between;
}

.map .booking {
  width: 30%;
}
.map .booking .booking_box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}
.map .booking .booking_box input {
  border: var(--border);
  width: 80%;
  padding: 1rem 2rem;
}
.map .booking .booking_box button {
  outline: none;
  border: none;
  padding: 1rem 5.7rem;
  background-color: var(--main-color);
  color: var(--white);
}
.map .booking .booking_box .phone {
  background: var(--red);
  color: var(--white);
  font-size: 1.3rem;
  padding: 1.4rem 5.1rem;
  cursor: pointer;
}
.map .detail {
  width: 70%;
  height: 400px;
  border: var(--border);
}
.map .detail iframe {
  width: 100%;
  height: 100%;
}

/*footer*/
.footer {
  background-color: #c8c6c629;
  text-align: center;
  color: var(--black);
  padding: 7rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_top {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 6rem;
}
.footer_top-gioithieu,
.footer_top-lienhe,
.footer_top-thongtin {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.footer_top-gioithieu p {
  font-size: 1.4rem;
  padding-right: 20px;
  text-align: left;
  line-height: 3rem;
}
.footer_top-gioithieu .icons {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.footer_top-lienhe ul,
.footer_top-thongtin ul {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 20px;
  gap: 1.3rem;
}
.footer_top-lienhe ul li {
  list-style: none;
  text-align: left;
  font-size: 1.4rem;
  line-height: 3rem;
}
.footer_top-lienhe ul li span {
  color: var(--black);
  font-weight: 600;
}
.footer_top-thongtin ul li {
  list-style: none;
  font-size: 1.4rem;
  line-height: 3rem;
}
.footer_top-thongtin ul li a {
  text-decoration: none;
}

.footer_bottom {
  position: relative;
  margin-top: 40px;
  padding: 1rem 0;
  width: 100%;
  border-top: 1px solid black;
}
.footer_bottom .scroll-to-top {
  position: absolute;
  bottom: 10px;
  right: 50px;
  background-color: var(--main-color);
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-to-top i {
  font-size: 20px;
}

/*responsive*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .flex .search-form {
    max-width: 50rem;
  }
  swiper-slide img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .posts-container .box-container .box {
    width: calc(50% - 40px);
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 0rem;
  }

  #search-btn {
    display: inline-block;
  }

  .header .flex .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .flex .search-form.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .posts-container .box-container{
    overflow-x: none;
  }
  .posts-container .box-container .box {
    width: calc(100% - 3rem);
    max-height: 500px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    /* margin: 6rem 6rem 4rem 6rem; */
  }
  .contact .contact_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .contact .contact_left img {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: var(--main-color) -15px 15px;
  }
  .contact .contact_right {
    width: 100%;
    gap: 1rem;
    padding: 5rem 5rem 0 3rem;
    border-left: 1px solid rgb(17, 18, 19);
  }

  /*map*/
  .map {
    height: 400px;
    margin: 6rem 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .map .booking {
    width: 100%;
  }
  .map .booking .booking_box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .map .booking .booking_box input {
    border: var(--border);
    width: 80%;
    padding: 1rem 2rem;
  }
  .map .booking .booking_box button {
    outline: none;
    border: none;
    padding: 1rem 5.7rem;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
    width: 80%;
  }
  .map .booking .booking_box .phone {
    width: 80%;
    text-align: center;
    background: var(--red);
    color: var(--white);
    font-size: 1.7rem;
    padding: 1.4rem 5.1rem;
    cursor: pointer;
  }
  .map .detail {
    width: 100%;
    max-height: 70vh;
    border: var(--border);
    margin: 3rem 0;
  }
  .map .detail iframe {
    width: 100%;
    height: 100%;
  }

  .footer {
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
  }
  .footer_top {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }
  .footer_top-gioithieu,
  .footer_top-lienhe,
  .footer_top-thongtin {
    width: 100%;
    gap: 1.5rem;
  }
  .footer_top-gioithieu p {
    font-size: 1.5rem;
    padding-right: 0px;
    text-align: left;
  }
  .footer_top-gioithieu .icons {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  .footer_top-lienhe ul,
  .footer_top-thongtin ul {
    padding-right: 0px;
  }

  .footer_bottom .scroll-to-top {
    bottom: 10px;
    right: 50px;
    text-align: center;
    line-height: 45px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
